

<section class="posts-list">
  <h2>文章列表</h2>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <h3>
          <a href="/posts/<%= post.slug %>">
            <%= post.title %>
          </a>
        </h3>
        <p class="meta">发布日期：<%= new Date(post.date).toLocaleDateString() %></p>
        <p><%= post.description %></p>
      </li>
    <% }) %>
  </ul>
</section>